<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ice-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IceKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ice.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>IceCLI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>IceKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>IceKitTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>IceTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TestingUtilities</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ice</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
